@model SportsStore.WebUI.Models.LoginViewModel
@{
    ViewBag.Title = "Admin: Log in";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="panel">
    <div class="panel-heading">
        <h3>Login</h3>
    </div>
    <div class="panel-body">
        <p class="lead">Faça o login para ter acesso de administrador:</p>
    @using (Html.BeginForm()){
        @Html.ValidationSummary()
        <div class="form-group">
            <label>Usuario:</label>
            @Html.TextBoxFor(x=>x.UserName,new{ @class="form-control"})
        </div>

        <div class="form-group">
            <label>Senha:</label>
            @Html.PasswordFor(x=>x.Password,new {@class="form-control" })
        </div>
        <input type="submit" value="Logar" class="btn btn-primary" />
    }

    </div>
</div>

