
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Completo</title>
</head>
<body>
    <h2>Obrigado!</h2>
    <p>
        Obrigado por fazer seu pedido. Enviaremos seus produtos em breve!
    </p>
</body>
</html>
